{% extends "base_min.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Waste Not" %}{% endblock %}

{% block main %}

<div id="home_centre">
<img class="img-responsive" id="home_logo" src="../static/img/waste_not_logo_montserrat.png" alt="Waste Not: regenerative resource recovery"></img>

{% blocktrans %}
<p>&nbsp;</p>

<p>Waste Not subverts the culture of waste by viewing organic waste as an underutilised resource to be transformed, via low energy techniques, into healthy living soil from which nutrient dense food can be grown.</p>

{% endblocktrans %}

</div>

{% endblock %}
