{% extends "base_min.html" %}
{% load i18n %}

{% block meta_title %}{% trans "The Black Earth Workers' Collective" %}{% endblock %}

{% block main %}

<div id="home_centre">
<img class="img-responsive" id="home_logo" src="../static/img/tri_black_earth.png" alt="The Black Earth Workers' Collective"></img>

{% blocktrans %}
<p>&nbsp;</p>
<h1>A Workers' Collective</h1>
<p>We are dedicated to ecological education and the creation of ecologically sound, worker self-managed livelihoods.</p>
{% endblocktrans %}

</div>

{% endblock %}
